:root {
  --navy: #1A4A68;
  --teal: #00ADB5;
  --red: #FC3C3C;
  --yellow: #F8B500;
  --offwhite: #FFF4E0;
  --alternating: #FFEBC8;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }
}

body {
  font-size: 2rem;
  width: 100vw;
}

nav {
  display: inline-block;
  margin: 2rem auto;
  width: 100%;
}

nav ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  margin: 1rem auto;
  width: fit-content;
}

nav ul > li {
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
  }

  nav ul {
    float: right;
    margin-top: 50px;
  }
}

a {
  color: var(--offwhite);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 0.5rem;
}

p {
  padding-bottom: 2rem;
}

p.article-title {
  padding-bottom: 0;
}

div, ul, img {
  position: relative;
}

.bold, .article-title {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.article-title {
  text-transform: uppercase;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--navy);
  border-radius: 100px;
  color: var(--navy);
  display: block;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.4rem;
  margin: 1rem auto 4rem auto;
  padding: 1.8rem 0px;
  text-align: center;
  width: 250px;
}

.button:hover {
  background-color: var(--navy);
  color: var(--offwhite);
}

h1 {
  font-family: 'Sofia', sans-serif;
  font-size: 7rem;
  padding: 3rem 0;
}

h2 {
  font-family: 'Sofia', sans-serif;
  font-size: 4rem;
  padding: 2rem 0rem;
}

h3 {
  font-size: 3rem;
  padding: 1.5rem 0rem;
}

.slogan {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin: auto;
  text-align: center;
  width: 28rem;
}

header {
  height: 500px;
}

header svg {
  height: 586px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu, .logo, .hero {
  z-index: 2;
}

.logo {
  margin: 2rem 0 0 0;
  width: 80px;
  height: auto;
}

.container {
  color: var(--offwhite);
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  text-align: center;
}

main section {
  z-index: 0;
}

footer {
  background-color: var(--red);
  bottom: 0;
  color: var(--offwhite) !important;
  position: static;
  width: 100vw;
}

.footer-container {
  background-color: var(--red);
  padding: 8rem 2rem;
}

footer .email > div {
  font-size: 1.7rem;
  padding-bottom: 0.6rem;
}

footer .email a {
  font-size: 1.4rem;
}

footer ul {
  margin-top: 3rem;
}

footer ul > li {
  display: inline-block;
  height: auto;
  padding: 1.5rem;
}

footer ul > li > a {
  font-size: 5rem;
}

@media screen and (max-width: 767px) {
  .desktop-image {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .mobile-image {
    display: none !important;
  }

  h1 {
    font-size: 8rem;
  }
}

/* Homepage Styles */
#hey {
  padding-top: 6rem;
}

#homepage header {
  background-color: var(--teal);
}

#project-1 {
  background-color: var(--teal);
}

#homepage main section, #work-container main section {
  border-bottom: 20px solid var(--offwhite);
  height: 560px;
  position: relative;
}

#nav-contact {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-between;
}

#project-info{
  left: 0;
  margin: 15rem auto;
  position: absolute;
  right: 0;
  top: 0;
}

#home-nav {
  height: 100%;
  margin: auto;
}

#home-nav a.button:hover {
  border-color: var(--red);
}

#nav-contact ul {
  height: 100%;
  margin: auto;
  margin-top: 50%;
}

#project-1-story, #project-1-roles {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
}

#project-1-story {
  margin: 0 auto;
  max-width: 250px;
  padding: 2rem 0;
}

#project-1 .button {
  background-color: var(--navy);
  color: var(--offwhite);
  margin-top: 3rem;
}

#project-1 .button:hover {
  background-color: var(--yellow);
  color: var(--navy);
}

.circle-nav-rect {
  position: absolute;
  background-color: var(--offwhite);
  width: 20px;
  top: 0;
  z-index: -1;
  height: 100%;
  margin-left: 85px;
}

@media screen and (min-width: 768px) {
  .logo {
    float: left;
  }

  #project-info {
      background-color: var(--red);
      border: 20px solid var(--offwhite);
      border-radius: 300px;
      color: var(--offwhite);
      height: 300px;
      line-height: 2rem;
      margin: 8rem 10rem auto auto;
      padding: 40px;
      width: 300px;
  }

  #project-1 .button {
    margin-top: 1rem;
    width: 200px;
  }

  #vine {
    bottom: 0;
    margin: auto 0;
    max-height: 500px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -5;
  }

  #home-nav {
    margin: auto;
  }

  #home-nav .button {
    background-color: var(--navy);
    border: 20px solid var(--offwhite);
    border-radius: 100%;
    color: var(--offwhite);
    height: 130px;
    line-height: 2rem;
    padding: 10px;
    width: 130px;
  }

  #home-nav .button > div {
    margin-top: 25%;
    padding: inherit;
  }

  #nav-contact ul {
    display: flex;
    margin-top: 0;
  }

  #circle-button-1 {
    margin-top: 50px;
  }

  #circle-button-2 {
    margin-top: 300px;
    margin-left: -50px;
  }

  #circle-button-3 {
    margin-top: 120px;
    margin-left: -50px;
  }

  #circle-nav-rect-4 {
    right: 0;
    margin-right: 28rem;
  }

  #contact {
    color: var(--navy);
    margin: auto;
    text-align: left;
  }

  #contact a {
    color: var(--navy);
  }

  footer .email  h3 {
    display: none;
  }

  footer ul {
    margin-top: 0;
  }
}

@media screen and (min-width:768px) and (max-width: 875px) {
  #contact {
    margin-top: 400px;
  }
}

@media screen and (max-width: 767px) {
  #contact {
    display: none;
  }

  img#vine, .circle-nav-rect {
    display: none;
  }
}

/* Work Styles */
#work-container header a {
  color: var(--navy);
}

#work-container {
  background-color: var(--offwhite);
  color: var(--navy);
}


/* Secondary Page Styles */
.secondary-container nav a {
  color: var(--navy);
}

.secondary-container nav a:hover {
  border-bottom: 2px solid var(--teal);
  padding-bottom: 0.5rem;
}

.secondary-container {
  background-color: var(--offwhite);
  color: var(--navy);
}

.secondary-container h2 {
  background-color: var(--red);
  color: var(--offwhite);
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
  line-height: 3.3rem;
  margin: 2rem 0;
  padding: 2rem 0;
  text-transform: uppercase;
}

.secondary-container h3 {
  background-color: var(--teal);
  color: var(--offwhite);
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 70px;
  padding: 1.7rem 0;
  text-align: center;
}

.secondary-container .slogan {
  font-size: 1.8rem;
  padding-top: 1rem;
  width: 35rem;
}

.secondary-container section {
  font-family: Cabin, sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  height: auto;
  line-height: 2rem;
  padding-bottom: 70px;
  text-align: left;
}

.section-body {
  margin: 2rem 1.5rem;
  max-width: 450px;
}

.secondary-container section img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 6rem;
  padding-top: 6rem;
  width: 90%;
}

.image-area {
  padding-bottom: 3rem;
}

.caption {
  font-size: 1.2rem;
  margin: 1rem auto;
  width: 90%;
}

.img-with-caption > img {
  padding-bottom: 0 !important;
  padding-top: 2rem;
}

@media screen and (min-width: 768px){
  .secondary-container h3 {
    left: 0;
    width: 375px;
  }

  .secondary-container h3::after {
    border-style: solid;
    border-width: 31px 0 30px 40px;
    border-color: transparent transparent transparent var(--teal);
    content: "";
    left: 375px;
    margin-top: -20px;
    position: absolute;
  }

  .section-body {
    margin: 2rem 5rem 0rem 5rem;
  }

  .caption {
    margin: 1rem 0rem;
    width: 100%;
  }

  .image-area {
    display: -webkit-box;
    padding: 0rem 3rem;
    margin: 0 auto;
  }

  .img-with-caption {
    padding: 0 2rem;
    width: 45%;
  }

  .img-with-caption img {
    margin: 0rem;
    width: 100% !important;
  }
}


/* About Styles */
#about-container header {
  background-color: var(--teal);
  height: 600px;
}

#about-container section {
  display: block;
  font-family: Cabin, sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  height: auto;
  line-height: 2rem;
  margin: 0 auto;
  text-align: left;
}

#about-main img {
  border: 1px solid var(--yellow);
  border-radius: 50%;
  padding: 20px;
  margin: 2rem auto;
  max-width: 300px;
  width: 50%;
}

#about-1 .section-body, #about-2 .section-body {
  padding: 20px;
  max-width: 400px;
}

#about-1 img, #about-2 img {
  margin: 4rem auto;
  margin-top: 0;
}

#about-1 .section-body, #about-2 .section-body {
  margin: 0 auto;
}

#about-3-title {
  margin-bottom: 0 !important;
}

#about-text-3 {
  background-color: var(--offwhite);
  margin: 0 auto;
  padding: 3rem;
  position: static;
  width: 65%;
}

#about-3 {
  background-color: var(--teal);
  padding-bottom: 0;
}

@media screen and (min-width: 786px) {
  #about-container section {
    display: flex;
  }

  #about-1, #about-2 {
    margin: auto;
    padding-top:80px;
    width: 70%;
  }

  #about-1 img, #about-2 img {
    margin: auto;
  }

  #about-3 {
    border-bottom: 20px solid var(--offwhite);
    border-top: 20px solid var(--offwhite);
  }

  #about-3 .section-body {
    padding: 5rem;
  }
}


/* Project Styles */
#heirloom-main {
  position: inherit;
}

#roles-deliv-tools {
  border: none;
  padding-bottom: 0;
}

#roles-deliv-tools, #conclusion {
  background-color: var(--teal);
}

#roles-deliv-tools-container {
  background-color: var(--offwhite);
  margin: 0 auto;
  padding: 10rem 5rem 2rem 5rem;
  width: 65%;
}

#roles-deliv-tools-container ul {
  margin: 2rem auto;
  width: 70%;
}

#roles-deliv-tools-container li {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 3px auto;
  padding-top: 0.6rem;
  text-align: center;
  width: fit-content;
}

#roles-deliv-tools-container li.list-title {
  border-top: 2px solid var(--yellow);
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 1.5rem;
  text-transform: uppercase;
}

#problem, #user-survey, #user-flows, #user-stories, .image-area {
  background-color: var(--alternating);
}

#problem-description {
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2rem;
}

#problem > ul > li, #solution > ul > li  {
  padding-bottom: 1rem;
}

#survey-stats {
  display: table;
  margin-top: 80px;
}

.stat {
  display: inline-grid;
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  width: 45%;
}

.stat-title {
  color: var(--yellow);
  font-size: 4rem;
}

#survey-stats img.stat-title-img {
  max-width: 70px;
  padding: 0;
  height: auto;
}

.stat-header-text {
  font-size: 2rem;
}

.stat > div {
  padding-bottom: 1rem;
}

.comp-logo {
  height: 50px;
  padding-bottom: 1rem !important;
  width: auto !important;
}

#competitive-analysis > ul > li {
  padding-bottom: 0.5rem;
  text-align: center;
}

li.comp-title {
  display: grid;
  font-size: 1.7rem;
  font-weight: bold;
  justify-content: center;
  line-height: 2.5rem;
}

li.comp-body {
  display: grid;
  justify-content: center;
  min-height: 40px;
  padding-bottom: 3rem !important;
  text-align: center;
}

#comp-container img.comp-img {
  padding-top: 0;
}

#dropbox, #pinterest, #persona-1, #persona-2 {
  border-bottom: 2px solid var(--yellow);
}

#personas-image {
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
  width: 60%;
}

#personas-image img {
  padding-top: 3rem;
  padding-bottom: 0px !important;
  width: 100% !important;
}

#personas-image li {
  padding-bottom: 3rem;
}

#persona-3 {
  padding-bottom: 4rem;
}

#stories-image {
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
  text-align: left;
  width: 90%;
}

#stories-image-header {
  border-bottom: 2px solid var(--yellow);
  color: var(--yellow);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  text-transform: uppercase;
}

#stories-image li {
  padding: 0.5rem 2rem;
}

#stories-image li:nth-of-type(odd) {
  font-weight: bold;
}

#survey-images, #stories-image {
  margin-top: 20px;
}

#hifi .article-title {
  border-top: 2px solid var(--yellow);
  max-width: 200px;
  padding-top: 2rem;
  padding-bottom: 0;
  width: 60%;
}

#hifi .section-body {
  margin-top: 3rem;
}

#hifi-conclusion {
  border-top: 2px solid var(--yellow);
  padding: 2rem 0;
}

#conclusion {
  padding-bottom: 0;
}

#conclusion-title {
  margin-bottom: 0 !important;
}

#conclusion > p {
  background-color: var(--offwhite);
  margin: 0 auto;
  padding: 3rem;
  position: static;
  width: 65%;
}

@media screen and (min-width: 786px) {
  #heirloom-main .button {
    margin-left: 0;
  }

  #roles-deliv-tools-container {
    display: flex;
    padding: 7rem 0rem;
    width: 70%;
  }

  #problem .section-body {
    display: inline-grid;
    margin-right: 0;
    width: 40%;
  }

  #problem-body {
    margin: 0 auto;
    width: 80%;
  }

  #problem-description {
    border-bottom: none;
    border-right: 2px solid var(--yellow);
    margin-left: 0;
    padding-right: 50px;
  }

  #solution .section-body {
    border-top: 2px solid var(--yellow);
    display: flex;
    margin: 2rem auto;
    padding-top: 20px;
    max-width: 90%;
    width: 100%;
  }

  #solution .section-body li {
    padding: 0 2rem;
    width: 20%;
  }

  #user-survey .section-body {
    max-width: 350px;
    vertical-align: top;
  }

  #survey-stats {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }

  #survey-images {
    display: inline-block;
    width: 50%;
  }

  #user-flows > div.section-body, #user-survey > div.section-body {
    display: inline-block;
    width: 30%;
  }

  #comp-container {
    display: flex;
    margin: 0 auto 5rem auto;
    text-align: center;
    width: 90%;
  }

  #comp-container ul {
    margin: 0;
    padding: 0 40px;
    width: 30%;
  }

  #dropbox, #pinterest, #persona-1, #persona-2 {
    border-bottom: none;
  }

  #pinterest {
    border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
  }

  #user-flows > div {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  #flows-img > img {
    padding-top: 2rem;
  }

  .persona {
    float: right;
    width: 25%;
    max-width: 250px;
  }

  #persona-2 {
    padding: 0 30px;
  }

  #personas-description {
    margin-right: 50px;
  }

  #personas-image {
    display: inline-flex;
    justify-content: center;
  }

  #personas-description {
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    width: 22%;
  }

  #personas-description .button {
    width: -webkit-fill-available;
  }

  #user-stories > div {
    display: inline-block;
    vertical-align: top;
  }

  #stories-description {
    margin-right: 10%;
    width: 350px;
  }

  #stories-image {
    margin-bottom: 20px;
    max-width: 500px;
    width: 40%;
  }

  #sketches .section-body, #wireframes .section-body {
    margin-bottom: 70px;
  }

  #branding > div {
    display: inline-block;
  }

  #branding-description {
    vertical-align: top;
  }

  #branding-img {
    max-width: 700px;
    padding-top: 2rem;
  }

  #hifi > div.section-body {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  #conclusion {
    border-bottom: 20px solid var(--offwhite);
    border-top: 20px solid var(--offwhite);
  }

  #conclusion .section-body {
    padding: 5rem;
  }

}
